.body{
    background-image: url(../img/gradient.svg);
    z-index:1000;
}

.navbar {
    overflow: hidden;
    background-color: white; 
    text-align: right;
    width: 50%;
    height: 46px;
  }
  
.navbar a {
    float: left;
    display: inline-block;
    color: black; 
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    size: 16px;
  }
  
.navbar a:hover {
    background-color: #ddd;
    color: black;
  }