.navbar {
    overflow: hidden;
    background-color: white; 
    text-align: right;
    width: 50%;
  }
  
.navbar a {
    float: left;
    display: inline-block;
    color: black; 
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
.navbar a:hover {
    background-color: #ddd;
    color: black;
  }