body {
    overflow: hidden;
}

.back {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.back0 {
    width: 100%;
}

.navbar {
    position: absolute;
    overflow: hidden;
    background-color: white;
    text-align: right;
    width: 50%;
    height: 46px;
    z-index: 1000;
    right: 0;
    box-shadow: 1px 1px 8px 0.5px rgba(0, 0, 0, 0.09);
    margin-right: 3%;
}

.navbar a {
    float: left;
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.1vw;
    font-family: "Helvetica";
}

.navbar a:hover {
    background-color: #D5DF7C;
    color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

li {
    margin-right: 1vw; /* Adjust margin for better adaptation */
}

li:last-child {
    margin-right: 0;
}

.leftContainer {
    padding-left: 2vw;
    width: 45%;
    padding-top: 2%;
}

.leftContainer h1 {
    font-size: 7vw;
    font-family: "Helvetica";
    margin-bottom: 1%;
}

.leftContainer p {
    font-family: "Helvetica";
    font-size: 1.4vw;
}

.opisanieLinks {
    margin-left: 0.5vw;
    width: 80%;
}

.rightContainer {
    width: 55%;
    padding-top: 8%; /* Adjust padding for better adaptation */
}

.firstnews,
.secondnews {
    display: block;
    margin-bottom: 2%; 
    /* Adjust margin for better adaptation */
}

.textfirst,
.textsecond {
    display: flex;
    justify-content: space-between;
    font-size: 1.4vw;
    width: 100%;
    margin-top: -2%; /* Adjust margin for better adaptation */
    align-items: center;
    width: 86%;
    font-family: "Helvetica";
    padding-left:2%;
    box-shadow: 1px 1px 8px 0.5px rgba(0, 0, 0, 0.09);
    
}
.balls{
    position: absolute;
}