body{
    overflow: hidden;
}

h1{
    font-family: Helvetica;
}

a{
    color: black;
    text-decoration: none;;
}


.back {
    width: 100%;
    position: absolute;
}

.back0{
    position: absolute;
    margin-top: -13%;
    width: 100%;
    z-index: 0;
    animation: gradient_anim 10s ease-in-out infinite;
}

.navbar {
    position: absolute;
    overflow: hidden;
    background-color: white;
    opacity: 0.5;
    width: 40%;
    height: 7%;
    z-index: 1;
    right: 0;
    margin-top: 0.6%;
    box-shadow: 1px 1px 8px 0.5px rgba(0, 0, 0, 0.09);
    margin-right: 3%;
}

.menu {
    position: absolute;
    z-index: 2;
    word-spacing:2vw;
    display: inline-block;
    font-style: color black;
    text-align: center;
    width: 40%;
    height: 7%;
    font-size: 1.1vw;
    font-family: "Helvetica";
    margin-top: 1.6%;
    margin-left: 56%;
}

.profile{
    margin-left: 25%;
}

.sectionnone{
    display: none;
}

.sectionblock{
    display: block;
}

.hover_green{
    position: absolute;
    margin-left: 56.6%;
    margin-top: 0.6%;
    width: 12%;
    height: 7%;
    overflow: hidden;
}

.hover_green2{
    position: absolute;
    margin-left: 23%;
    width: 30%;
    position: absolute;
    height: 0.2%;
    overflow: hidden;
    margin-top: -1%;
    box-shadow: 0px 16px 8px 22px #D5DF7C ;
    z-index: 1;
}

.hover_green_{
    position: absolute;
    margin-left: 56.6%;
    margin-top: 0.6%;
    width: 12%;
    height: 7%;
    overflow: hidden;
}

.hover_green2_{
    position: absolute;
    margin-left: 23%;
    width: 30%;
    position: absolute;
    height: 0.2%;
    overflow: hidden;
    margin-top: -1%;
    box-shadow: 0px 16px 8px 22px #D5DF7C ;
    z-index: 1;
}

.hover_green_teams{
    position: absolute;
    margin-left: 62%;
    margin-top: 0.6%;
    width: 12%;
    height: 7%;
    overflow: hidden;
}

.hover_green_teams2{
    position: absolute;
    margin-left: 42%;
    width: 30%;
    position: absolute;
    height: 0.2%;
    overflow: hidden;
    margin-top: -1%;
    box-shadow: 0px 16px 8px 22px #D5DF7C ;
    z-index: 1;
}

.hover_green_teams_{
    position: absolute;
    margin-left: 62%;
    margin-top: 0.6%;
    width: 12%;
    height: 7%;
    overflow: hidden;
}

.hover_green_teams2_{
    position: absolute;
    margin-left: 42%;
    width: 30%;
    position: absolute;
    height: 0.2%;
    overflow: hidden;
    margin-top: -1%;
    box-shadow: 0px 16px 8px 22px #D5DF7C ;
    z-index: 1;
}
.hover_green_other{
    position: absolute;
    margin-left: 68%;
    margin-top: 0.6%;
    width: 12%;
    height: 7%;
    overflow: hidden;
}

.hover_green_other2{
    position: absolute;
    margin-left: 47%;
    width: 30%;
    position: absolute;
    height: 0.2%;
    overflow: hidden;
    margin-top: -1%;
    box-shadow: 0px 16px 8px 22px #D5DF7C ;
    z-index: 1;
}

.hover_green_other_{
    position: absolute;
    margin-left: 68%;
    margin-top: 0.6%;
    width: 12%;
    height: 7%;
    overflow: hidden;
}

.hover_green_other2_{
    position: absolute;
    margin-left: 47%;
    width: 30%;
    position: absolute;
    height: 0.2%;
    overflow: hidden;
    margin-top: -1%;
    box-shadow: 0px 16px 8px 22px #D5DF7C ;
    z-index: 1;
}

.hover_green_profile{
    position: absolute;
    margin-left: 86%;
    margin-top: 0.6%;
    width: 12%;
    height: 7%;
    overflow: hidden;
}

.hover_green_profile2{
    position: absolute;
    margin-left: 31%;
    width: 30%;
    position: absolute;
    height: 0.2%;
    overflow: hidden;
    margin-top: -1%;
    box-shadow: 0px 16px 8px 22px #D5DF7C ;
    z-index: 1;
}

.hover_green_profile_{
    position: absolute;
    margin-left: 86%;
    margin-top: 0.6%;
    width: 12%;
    height: 7%;
    overflow: hidden;
}

.hover_green_profile2_{
    position: absolute;
    margin-left: 31%;
    width: 30%;
    position: absolute;
    height: 0.2%;
    overflow: hidden;
    margin-top: -1%;
    box-shadow: 0px 16px 8px 22px #D5DF7C ;
    z-index: 1;
}

.avatar{
    position: absolute;
    z-index: 3;
    width: 20%;
    margin-top: 5.7%;
    
}

.avatar1{
    position: absolute;
    width: 100%;
}

p{
    font-style: Helvetica;
}

.name{
    position: absolute;
    margin-top: 16%;
    margin-left: 20%;
    font-family: Helvetica;
}
.student{
    margin-top: 19%;
    position: absolute;
    margin-left: 20%;
    font-family: Helvetica;
}
.group{
    margin-top: 22%;
    position: absolute;
    margin-left: 20%;
    font-family: Helvetica;
}

.calendar{
    width: 35%;
    position: absolute;
    z-index: 3;
    margin-left: 58.6%;
    margin-top: 9%;
}

.calendar_bot {
    position: absolute;
    overflow: hidden;
    background-color: white;
    opacity: 0.5;
    width: 40%;
    height: 52%;
    z-index: 1;
    right: 0;
    margin-top: 7%;
    box-shadow: 1px 1px 8px 0.5px rgba(0, 0, 0, 0.09);
    margin-right: 3%;
}

.points_bot {
    position: absolute;
    overflow: hidden;
    background-color: white;
    opacity: 0.5;
    width: 50%;
    height: 36%;
    z-index: 1;
    right: 0;
    left: 2.5%;
    margin-top: 27%;
    box-shadow: 1px 1px 8px 0.5px rgba(0, 0, 0, 0.09);
    margin-right: 3%;
}

.points_bot1 {
    position: absolute;
    overflow: hidden;
    background-color: white;
    opacity: 0.5;
    width: 50%;
    height: 9%;
    z-index: 2;
    right: 0;
    left: 2.5%;
    margin-top: 31%;
    box-shadow: 1px 1px 8px 0.5px rgba(0, 0, 0, 0.09);
    margin-right: 3%;
}

.points_bot2 {
    position: absolute;
    overflow: hidden;
    background-color: white;
    opacity: 0.5;
    width: 50%;
    height: 9%;
    z-index: 2;
    right: 0;
    left: 2.5%;
    margin-top: 36%;
    box-shadow: 1px 1px 8px 0.5px rgba(0, 0, 0, 0.09);
    margin-right: 3%;
}